.user-security {
  background-color: white;
  min-height: 550px;
}
.user-security-main {
  margin-top: 30px;
  margin: auto;
  width: 600px;
}
.license-plate {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-top: 18px;
}
